# Your github Personal Access Token (PAT)
GITHUB_TOKEN=

# Apigee proxy name to be used for test execution
# nhs-notify-supplier--internal-dev--nhs-notify-supplier-prxxx
PROXY_NAME=

# APIM env to run e2e tests against, other options are: ref, int, prod
API_ENVIRONMENT=internal-dev

# Used for component and e2e tests
# Account group controls default account id mapping for tests.
# If omitted, tests default to dev:
# TARGET_ACCOUNT_GROUP=nhs-notify-supplier-api-dev
# Mapping used by tests:
# nhs-notify-supplier-api-dev -> 820178564574
# nhs-notify-supplier-api-nonprod -> 885964308133
# nhs-notify-supplier-api-prod -> blocked (tests are intentionally disabled for prod)
TARGET_ACCOUNT_GROUP=nhs-notify-supplier-api-dev

# Resource namespace used to resolve AWS resource names for tests (main, pr123)
# remove if needs to run against main
TARGET_ENVIRONMENT=prxx

# API Keys
# ========
# In order to find out the value of an environments given API key, follow these steps
# 1. Log in to the AWS NHS Notify Suppliers Dev account
# 2. Open the paramenter store and search for the parameter /dev/e2e/keys/apim/pr
# 3. Copy the decrypted "value"
# Note: For INT and higher environments use developer portal https://identity.prod.api.platform.nhs.uk/
export NON_PROD_API_KEY=xxx
export INTEGRATION_API_KEY=xxx
export PRODUCTION_API_KEY=xxx

# Status Endpoint API Key
# In order to find the value of the status endpoint API key, follow these steps:
# 1. Log in to the AWS NHS Notify Suppliers Dev account
# 2. Open the paramenter store and search for the parameter /dev/e2e/keys/apim/status
# 3. Copy the decrypted "value"
export STATUS_ENDPOINT_API_KEY=xxx

# Private Keys
# ============
# In order to set the NON_PROD_PRIVATE_KEY, follow these steps:
# 1. Log in to the AWS NHS Notify Suppliers Dev account
# 2. Open the paramenter store and search for the parameter /dev/e2e/keys/private
# 3. Copy the decrypted "value"
# 4. Create a .pem file and paste the value copied in step 3,
#    save the file and provide the path to the file as the value for NON_PROD_PRIVATE_KEY
#    for example /workspaces/nhs-notify-supplier-api/scripts/JWT/internal-dev-test-1.pem
# private key path used to generate authentication for tests ran against the internal-dev and internal-qa
export NON_PROD_PRIVATE_KEY=xxx
# private key path used to generate authentication for tests ran against the int environment
export INTEGRATION_PRIVATE_KEY=xxx
# private key path used to generate authentication for tests ran against the prod environment
export PRODUCTION_PRIVATE_KEY=xxx
