# remove if needs to run against main
PR_NUMBER=prxx
# Your github Personal Access Token (PAT)
GITHUB_TOKEN=

# The variables below are used for End to End tests
# information about the proxy name can be found in the tests/e2e-tests/README.md
# e.g.
# nhs-notify-supplier--internal-dev--nhs-notify-supplier
# nhs-notify-supplier--internal-dev--nhs-notify-supplier-PR-XX
# nhs-notify-supplier--ref--nhs-notify-supplier
PROXY_NAME=
API_ENVIRONMENT=internal-dev
# 820178564574 Supplier Dev
# See AWS access portal for others
AWS_ACCOUNT_ID=820178564574
# remove if needs to run against main
TARGET_ENVIRONMENT=prxx

# API Keys
# ========
# In order to find out the value of an environments given API key, follow these steps
# 1. Log in to Non-Prod
# 2. Navigate to 'Publish' > 'Apps' and search for the app linked to authentication
# 3. Copy the "key" from the Credentials related to the app
# Note: For INT and higher environments use developer portal https://identity.prod.api.platform.nhs.uk/
export NON_PROD_API_KEY=xxx
export INTEGRATION_API_KEY=xxx
export PRODUCTION_API_KEY=xxx
export STATUS_ENDPOINT_API_KEY=xxx

# Private Keys
# ============
# private key path used to generate authentication for tests ran against the internal-dev and internal-qa
export NON_PROD_PRIVATE_KEY=xxx
# private key path used to generate authentication for tests ran against the int environment
export INTEGRATION_PRIVATE_KEY=xxx
# private key path used to generate authentication for tests ran against the prod environment
export PRODUCTION_PRIVATE_KEY=xxx
