
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results
/target
/playwright/.auth/
/allure-report
*/__pycache__/
**/__pycache__/
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
