
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results
/target
/playwright/.auth/
/allure-report
/e2e-tests/.pytest_cache
/e2e-tests/__pycache__/
