name: PR Destroy Environment

on:
  pull_request:
    types: [closed]
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read

jobs:
  destroy-dynamic-environment:
    name: Destroy Dynamic Environment
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Trigger dynamic environment destruction
        env:
          APP_CLIENT_ID: ${{ secrets.APP_CLIENT_ID }}
          APP_PEM_FILE: ${{ secrets.APP_PEM_FILE }}
        shell: bash
        run: |
          .github/scripts/dispatch_internal_repo_workflow.sh \
            --infraRepoName "$(echo ${{ github.repository }} | cut -d'/' -f2)" \
            --releaseVersion "main" \
            --targetWorkflow "dispatch-deploy-dynamic-env.yaml" \
            --targetEnvironment "pr${{ github.event.number }}" \
            --targetComponent "api" \
            --targetAccountGroup "nhs-notify-supplier-api-dev" \
            --terraformAction "destroy" \
            --overrideProjectName "nhs" \
            --overrideRoleName "nhs-main-acct-supplier-api-github-deploy"

  destroy-dynamic-proxy:
    name: Destroy Dynamic Proxy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Trigger dynamic proxy destruction
        env:
          APP_CLIENT_ID: ${{ secrets.APP_CLIENT_ID }}
          APP_PEM_FILE: ${{ secrets.APP_PEM_FILE }}
        shell: bash
        run: |
          .github/scripts/dispatch_internal_repo_workflow.sh \
          --infraRepoName "nhs-notify-supplier-api" \
          --releaseVersion "main" \
          --targetComponent "api" \
          --targetWorkflow "proxy-destroy.yaml" \
          --targetEnvironment "pr${{ github.event.number }}" \
          --apimEnvironment "internal-dev-sandbox" \
          --boundedContext "notify-supplier"
