name: "Acceptance stage"

on:
  workflow_call:
    inputs:
      build_datetime:
        description: "Build datetime, set by the CI/CD pipeline workflow"
        required: true
        type: string
      build_timestamp:
        description: "Build timestamp, set by the CI/CD pipeline workflow"
        required: true
        type: string
      build_epoch:
        description: "Build epoch, set by the CI/CD pipeline workflow"
        required: true
        type: string
      nodejs_version:
        description: "Node.js version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      python_version:
        description: "Python version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      terraform_version:
        description: "Terraform version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      version:
        description: "Version of the software, set by the CI/CD pipeline workflow"
        required: true
        type: string
      pr_number:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  run-acceptance-tests:
    name: Run Acceptance Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - name: "Use Node.js"
        uses: actions/setup-node@v6
        with:
          node-version: "${{ inputs.nodejs_version }}"
          registry-url: "https://npm.pkg.github.com"
          scope: "@nhsdigital"

      - name: "Set environment"
        shell: bash
        run: |
          if [ "${{ inputs.pr_number }}" != "" ]; then
            echo "ENVIRONMENT=pr${{ inputs.pr_number }}" >> $GITHUB_ENV
          else
            echo "ENVIRONMENT=main" >> $GITHUB_ENV
          fi

      - name: Trigger Acceptance Tests
        shell: bash
        env:
          APP_PEM_FILE: ${{ secrets.APP_PEM_FILE }}
          APP_CLIENT_ID: ${{ secrets.APP_CLIENT_ID }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          .github/scripts/dispatch_internal_repo_workflow.sh \
            --targetWorkflow "dispatch-contextual-tests-dynamic-env.yaml" \
            --infraRepoName "nhs-notify-supplier-api" \
            --releaseVersion "${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" \
            --overrideProjectName "nhs" \
            --targetEnvironment "$ENVIRONMENT" \
            --targetAccountGroup "nhs-notify-supplier-api-dev" \
            --targetComponent "api"

  run-e2e-tests:
    name: Run End-to-End Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - name: "Set environment"
        shell: bash
        run: |
          if [ "${{ inputs.pr_number }}" != "" ]; then
            echo "ENVIRONMENT=pr${{ inputs.pr_number }}" >> $GITHUB_ENV
          else
            echo "ENVIRONMENT=main" >> $GITHUB_ENV
          fi

      - name: "Run e2e tests"
        uses: ./.github/actions/e2e-tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NON_PROD_API_KEY: ${{ secrets.NON_PROD_API_KEY }}
          APP_PEM_FILE: ${{ secrets.APP_PEM_FILE }}
        with:
          targetEnvironment: ${{ env.ENVIRONMENT }}
