name: "Acceptance stage"

on:
  workflow_call:
    inputs:
      build_datetime:
        description: "Build datetime, set by the CI/CD pipeline workflow"
        required: true
        type: string
      build_timestamp:
        description: "Build timestamp, set by the CI/CD pipeline workflow"
        required: true
        type: string
      build_epoch:
        description: "Build epoch, set by the CI/CD pipeline workflow"
        required: true
        type: string
      nodejs_version:
        description: "Node.js version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      python_version:
        description: "Python version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      terraform_version:
        description: "Terraform version, set by the CI/CD pipeline workflow"
        required: true
        type: string
      version:
        description: "Version of the software, set by the CI/CD pipeline workflow"
        required: true
        type: string
      pr_number:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  run-acceptance-tests:
    name: Run Acceptance Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Trigger Acceptance Tests
        shell: bash
        env:
          APP_PEM_FILE: ${{ secrets.APP_PEM_FILE }}
          APP_CLIENT_ID: ${{ secrets.APP_CLIENT_ID }}
        run: |
          .github/scripts/dispatch_internal_repo_workflow.sh \
            --targetWorkflow "dispatch-contextual-tests-dynamic-env.yaml" \
            --callerRunId "${{ github.run_id }}" \
            --infraRepoName "nhs-notify-supplier-api" \
            --releaseVersion "${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" \
            --overrideProjectName "nhs" \
            --targetEnvironment "pr${{ inputs.pr_number }}" \
            --targetAccountGroup "nhs-notify-supplier-api-dev" \
            --targetComponent "api"
